[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	list = log --graph --decorate --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=relative
[user]
	name = Dmytro Cheusov
	email = d.cheusov@abona-erp.com
[core]
	editor = notepad++.exe